$bg-main: #082032;
$gray: #2c394b;
$dark-green: #334756;
$orange: #ff4c29;
$main-font: 'Nunito', sans-serif;

.comment-container {
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 1rem 2rem 3rem 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  overflow: auto;
  background-color: $gray;
  margin: 1rem;
  border-radius: 20px;
  z-index: 5;
}

.comment-container img {
  height: 300px;
  border-radius: 20px;
}

.comment-container p {
  width: 70%;
}

.comment-container p,
.comment-container ul,
.comment-container form {
  align-self: flex-start;
  margin-left: 20%;
}

.exit-btn {
  position: fixed;
  right: 0;
}

.comment-list {
  list-style-type: none;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  width: 40%;
}

.comment-form > input {
  padding: 0.7rem 0;
}

.comment-form > textarea {
  height: 5rem;
}

.submit-comment {
  padding: 0.5rem 0;
  background-color: $orange;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
}

.submit-comment:hover {
  cursor: pointer;
}
